<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421618618531-75umakj73pv9ee91pc57i2vk7p734eet.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421618618531-75umakj73pv9ee91pc57i2vk7p734eet</string>
	<key>API_KEY</key>
	<string>AIzaSyBODVqdZNJdlk8eXeGBbZFSS5cjDjeQBgA</string>
	<key>GCM_SENDER_ID</key>
	<string>421618618531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>mad2022-5c2fb</string>
	<key>STORAGE_BUCKET</key>
	<string>mad2022-5c2fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421618618531:ios:5d48d85b9c0f9f241fef16</string>
</dict>
</plist>